
@font-face {
    font-family: us;
    src: url(fonts/SourceCodePro-VariableFont_wght.ttf);
}
@font-face {
    font-family: nos;
    src: url(fonts/BwModelicaCyrillicDEMO-Black.ttf);
}

body{
    background-color: rgb(27, 27, 27);
}

.navbar{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    max-height: 100px;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgb(58, 58, 58);

}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-right: 30px;
    -webkit-user-drag: none;

}

nav ul li a{
    -webkit-user-drag: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(160, 160, 160);
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 10px;
    transition: 0.3s ease all;
}
nav ul li a:hover{
    /* background-color: rgba(83, 83, 83, 0.486); */
    background-color: rgba(37, 37, 37, 0.623);

}
nav ul li button{
    color: rgba(219, 219, 81, 0.726);
    -webkit-user-drag: none;   
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 0.3s ease all;
}
nav ul li button:hover{
    /* background-color: rgba(83, 83, 83, 0.486); */
    background-color: rgba(34, 34, 34, 0.623);

}

#icon{
    font-size: 30px;
    left: 50px;
    color: white;
    padding: 10px 8px;
    background: linear-gradient(to top, rgb(62, 62, 255), rgb(110, 110, 240));
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin: 60px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 250px 0;
    
}

.col1{
    flex-basis: 40%;
    position: relative;
    margin-left: 300px;
}
.col1 h4{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-weight: 300;
}
.col1 h1{
    margin-top: 40px;
    font-family: nos;
    font-weight: 900;
    font-size: 60px;
    color: white;

}

.col1 h2{
    margin-top: -40px;
    font-size: 30px;
    
    font-weight: 350;
    color: white;
}
.col1 button{
    padding: 10px 20px;
    background: linear-gradient(to right, rgb(106, 106, 207), rgb(76, 76, 206));
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    transition: 0.3s ease all;
    margin-top: -10px;
    border-radius: 6px;
    color: white;
}

.col1 button:hover{
    transform: scale(1.03);
}

.socials{
    font-size: 30px;
    position: absolute;
    cursor: default;
    user-select: none;
    margin-top: 40px;
    color: rgb(110, 110, 187);
    word-spacing: 30px;
}
.socials i{
    cursor: pointer;
    transition: 0.3s ease all;
}
.socials i:hover{
    transform: scale(1.03);
}
#moonfloater{
    transform: scale(50);
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.codebox{
    background-color: gray;
}
.col2{
    margin-top: 200px;
    position: absolute;
    background-color: rgb(41, 41, 41);
    padding: 170px 300px;
    right: 50px;
    color: white;
    transition: 0.5s ease all;
    border-radius: 8px;
}
.col2 .exit{
    position: absolute;
    margin-top: -160px;
    right: 10px;
    font-size: 10px;
}
.js{
    position: absolute;
    font-family: monospace;
    left: -10px;
    top: 20px;
    user-select: none;
    color: rgb(182, 182, 182);
}

.col2:hover{
    transform: scale(1.01);
}

.num{
    opacity: 50%;
}
.drop{
    width: 40px;
    position: absolute;
    right: 30px;
    display: none;
}

@media only screen and (max-width:1350px){
    .col2{
        padding-right: 200px;
    }
}

@media only screen and (max-width: 1250px){
    .col2{
        margin-top: 100px;
        padding-bottom: 70px;
    }
    .col1 h1{
        font-size: 50px;
    }
    .col1 h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1100px){
    .col1{
        margin-left: 60px;
    }
    .col2{
        margin-top: 650px;
    }
}

@media only screen and (max-width:700px){
    nav ul{
        width: 24%;
        padding-top: 5px;
        border-radius: 20px 0px 0px 20px;
        padding-left: 10px;
        padding-right: 0;
        text-align: left;
        padding-bottom: 15px;
        background: rgba(44, 44, 44, 0);
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
    }
    nav ul li a:hover{
        background-color: rgb(31, 31, 31);
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: white;
    }
    .drop{
        cursor: pointer;
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s ease all;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col1{
        
        margin-top: 70px;
        margin-left: -110px;
    }
    .col2{
        margin-top: 200px;
        padding-right: 100px;
        top: 300px;
    }
    .col2 .js{
        font-size: 80%;
    }

    .col1 h1{
        font-size: 60px;
    }
    .col h2{
        font-size: 30px;
    }
}
@media only screen and (max-width:475px){
    .col2{
        padding-left: 200px;

    }
@media only screen and (max-width:450px){
    nav ul{
        width: 24%;
        padding-top: 5px;
        border-radius: 20px 0px 0px 20px;
        padding-left: 10px;
        padding-right: 0;
        text-align: left;
        padding-bottom: 15px;
        background: rgba(44, 44, 44, 0);
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
    }
    nav ul li a:hover{
        background-color: rgb(31, 31, 31);
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: white;
        font-size: 11px;
    }
    .drop{
        cursor: pointer;
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s ease all;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col1{
        
        margin-top: 70px;
        margin-left: -110px;
    }
    .col2{
        padding-left: 210px;
        margin-top: 200px;
        /* move to the right */
        font-size: 12px;
        margin-right: -25px;

        top: 300px;
    }
    .col2 .js{
        font-size: 85%;
    }

    .col1 h1{
        font-size: 60px;
    }
    .col h2{
        font-size: 30px;
    }
}

@media only screen and (max-width:440px){
    .col1{
        margin-left: -50px;

    }
    .col2{
        padding-left: 200px;
        font-size: 11px;
    }
}
}

@media only screen and (max-width:410px){
    #moonfloater{
        visibility: visible;
    }
    .col2{
        visibility: hidden;
    }
}
